<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kingdom Details</title>
</head>
<body>
    <h2> <%= kingdomDetail.kingdomName %> </h2>
    <% if (kingdomDetail.DistrictId === null) { %>
    <h3>Unassigned</h3>
    <% } else { %>
    <h3>NAMA DISTRICTNYA</h3>
    <% } %>
    <% if (kingdomDetail.DistrictId === null) { %>
    <h3>Unassigned</h3>
    <% } else { %>
    <h3>NAMA DISTRICTNYA</h3>
    <% } %>

    <form action="POST" >

    </form>
</body>
</html>