<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kingdom</title>
</head>
<body>
  <table border="2">
    <tr>
      <td>
        <h2>Kingdom of <%= data.kingdomName %></h2><br>
        <h3>Total Soldiers: <%= pasukan%></h3>
      </td>
      <td>
        <form action="/soldiers/<%= data.id%>" method="POST">
            <h3>Add Pasukan</h3><br>
            <label for="name">Name</label><br>
            <input type="text" name="name"><br>
      
            <label for="attack">Attack</label><br>
            <input type="text" name="attack"><br>
      
            <button type="submit">Submit</button>
          </form>
      </td>
      <td>
        <form action="/kingdoms/<% data.id%>">
          <input type="radio" name="district"> 
        </form>
      </td>
    </tr>
  </table>
</body>
</html>