<!DOCTYPE html>
<html>
    <head>
        <title>Kingdom</title>
        <%- include('./partials/navbarStyle.ejs') %>
    </head>
    <header>
        <%- include('./partials/navbar.ejs') %>
    </header>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Detail</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </body>

</html>