<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <table>
    <tr>
      <th>Detail</th>
    </tr>
    <tr>
      <td><%= dataKingdom.kingdomName %></td>
    </tr>
    <tr>
      <td>Jumlah Pasukan</td>
    </tr>
    <tr>
      <td>District</td>
    </tr>
  </table>

  <form>
    <h3>ADD SOLDIER</h3>
    Name:<br>
    <input type="text" name="name"><br><br>
    attack:<br>
    <input type="text" name="attack">
  </form>

</body>
</html>