<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(./partials/header.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h2> JSON.stringify(soldiers)</h2>
    <%- include('./partials/footer.ejs') %>
</body>
</html>