<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kingdoms</title>
</head>

<body>
  <table border="1">
    <tr>
      <th>Kingdom</th>
      <th>Detail</th>
    </tr>
    <tr>
        <% data.forEach(kingdoms => { %>
        <tr>
          <td>
            <%= kingdoms.kingdomName %>
          </td>
          <td>
            <a href="/kingdoms/<%= kingdoms.id %>">Detail</a>
          </td>
        </tr>
      <% }); %>
    </tr>
  </table>
</body>

</html>